    <footer class="bg-dark text-white text-center text-lg-start mt-4">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footer-col">
            <h5 class="text-uppercase">Kontakt</h5>
              <ul class="footer-list">
                <li>
                  <i class="fa fa-location-dot"></i>
                  <span class="footer-address">
                    <div>Musterstrasse 11</div> 
                    <div>12345 Musterhausen</div> 
                  </span>
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  <span>07131 / 123456789</span>
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  <span>no-reply@beispiel.de</span> 
                </li>
              </ul>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footer-col">
            <h5 class="text-uppercase">Über unser Unternehmen</h5>
            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quibusdam nulla amet molestiae earum fugiat non, quos cumque eius, distinctio unde laboriosam. Hic expedita nesciunt rem explicabo aperiam, cum repellat!
            </p> 
          </div>
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="" href="/about">Tobias Wehrle 2022<i class="fa fa-trademark" style="font-size: small;"></i></a>
      </div>
    </footer>
</body>
</html>