<%- include('../partials/boilerplate') %> 
    <div class="container">
        <h1 class="mb-4">Edit Article</h1>

        <form action="/articles/<%= article.slug %>?_method=PUT" method="POST">
            <%- include('../partials/_form_articles_fields') %> 
        </form>
    </div>
<%- include('../partials/footer') %> 